
.mdl-card__actions{
  display: flex;
  box-sizing:border-box; 
  align-items: center;
}
.mdl-card_supporting-text{
	color:rgba(63,81,181,0.87);
}
.productImage{
	margin-left: 50px;
	height: 200px;
	width: 200px;
}
.extraInformation p{
	text-align: center; 
	margin-bottom: 9px;
}


.extraInformation, .close{
	display: none;
}
.extraInformation{
	height: 218px;
	overflow-y: auto;
}
.addingReviews{
	display:none;
}